@import 'variable-overrides';
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'overrides';
@import 'brandbar';
@import 'badge';
@import 'timeline';

.logo {
	font-size: 25px;
	font-weight: 100;
	margin-top: -2px;
}

.logo img {
	max-width: 140px;
	margin-top: -6px;
}

footer {
	background-color: $gray-lighter;
	padding: 25px 0;
}

.center {
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}


/***************************************************************************************
* Dashboard Elements - used on /dashboard.html
***************************************************************************************/
.status-block {padding: 30px 0; color:$gray-lighter;}
.status-blocks h2 {font-size: $font-size-h2+30px;}