[submodule "cms"]
	path = app/cms
	url = https://github.com/crdschurch/cms.git
[submodule "experiments/smartystreets"]
	path = experiments/smartystreets
	url = https://github.com/crdschurch/smarty-streets-angular-demo.git
